/* Your CSS here. */

html, body {
  height: 100%;
  font-family: "Georgia", serif; 
  background: #ffffff; 
}

.page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.card {
  background: #f7d1cd;  
  padding: 70px;
  border-radius: 12px;
  width: min(700px, 95%);
  text-align: center;
  color: #128dc4;
  box-shadow: 0 4px 12px #c9f2ea;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
}

.card h1 {
  margin: 10px 0 5px;
  font-size: 2rem; 
}

.card h2 {
  margin: 0 0 15px;
  font-weight: normal;
  font-size: 1.2rem;
  color: #f4912f;
}

.links a {
  color: #c9f2ea;
  text-decoration: underline;
  font-size: 1.5rem; 
  font-weight: bold;  
  font-family: Arial, Helvetica, sans-serif;
}
.links a:hover {
  color: #128dc4;
}

.bio {
  line-height: 1.5;
  font-size: 1.3rem; 
  text-align: center;  
}

